extends layout

block content
  //- pre=h.dump(productChunks)
  .container
    //- iterate threw each array of products by chunk size and create a row
    each chunk in productChunks
      .row
        //- then display each product in the chunk
        each product in chunk
          .col-sm-6.col-md-4
            .thumbnail
              img.img-responsive(src=`${product.imagePath}`, alt=`${product.title}`)
              .caption
              h3 #{product.title}
              p.description #{product.description}
              .clearfix
                .price.pull-left Price: $#{product.price}
                a.btn.btn-success.pull-right(href=`/add-to-cart/${product.id}`, role='button') Add to Cart
                // Button trigger modal                
                button.btn.btn-primary.pull-right.quick-view(type='button', data-toggle='modal', data-target='#product-view')
                  | Quick View
          #product-view.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                    h4#product-viewLabel.modal-title #{product.title}
                  .modal-body
                    .row
                      .col-md-4.product-img
                        img.img-responsive(src=`${product.imagePath}`, alt=`${product.title}`)
                      .col-md-8
                        p #{product.description}
                        hr
                        .row
                          .col-md-6
                            p
                              s Reg. Price:     
                              s.price-modal $#{product.mfgPrice}
                            p.sale-price-modal On Sale: $#{product.price}
                          .col-md-6            
                            a.btn.btn-success.btn-block(href=`/add-to-cart/${product.id}`, role='button') Add to Cart
                    hr  
                    .row
                      ul.nav.nav-tabs
                        li.active(role='presentation')
                          a(href='#description', aria-controls='description', role='tab', data-toggle='tab') Description
                        li(role='presentation')
                          a(href='#additional-info', aria-controls='additional-info', role='tab', data-toggle='tab') Additional Info
                        li(role='presentation')
                      .tab-content
                        #description.tab-pane.active(role='tabpanel')
                          p #{product.description}
                        #additional-info.tab-pane(role='tabpanel') #{product.additionalInfo}