extends layout

block content
  //-pre=h.dump(products)
  //-pre=h.dump(session)
  .container
    table#cart.table.table-hover.table-condensed
      thead
        tr
          th(style='width:50%') Product
          th(style='width:10%') Price
          th(style='width:15%') Quantity
          th.text-center(style='width:5%') Subtotal
          th(style='width:10%')
      tbody
        each product in products
          tr
            td(data-th='Product')
              .row
                .col-sm-2.hidden-xs
                  img.img-responsive(src=`${product.item.imagePath}`, alt='...')
                .col-sm-10
                  h4.nomargin #{product.item.title}
                  p
                    | Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.
            td(data-th='Price') $#{product.item.price}
            td(data-th='Quantity')
              span.qty-wrap
                a.qty-minus(href=`/minus/${product.item._id}`)
                  i.fa.fa-minus
                input.qty(type='text', name='qty', value=`${product.qty}`)
                a.qty-plus(href=`/plus/${product.item._id}`)
                  i.fa.fa-plus                   
            td.text-center(data-th='Subtotal') $#{product.price}
            td.actions(data-th='')
              a.btn.btn-danger.btn-sm(href=`/remove/${product.item._id}`)
                i.fa.fa-trash-o
      tfoot
        tr.visible-xs
          td.text-center
            strong Total $#{session.cart.totalPrice}
        tr
          td
            a.btn.btn-warning(href='/')
              i.fa.fa-angle-left
              |  Continue Shopping
          td.hidden-xs(colspan='2')
          td.hidden-xs.text-center
            strong Total $#{session.cart.totalPrice}
          td
            a.btn.btn-success.btn-block(href='/checkout', type='button')
              | Checkout 
              i.fa.fa-angle-right