extends layout

block content
  //-pre=h.dump(products)
  //-pre=h.dump(session)
  if products
    h2 #{title}
    .row
      .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
        ul.list-group
        each product in products        
          li.list-group-item
            span.badge #{product.qty}
            strong #{product.item.title}
            span.label.label-success $#{product.price}
            .btn-group
              button.btn.btn-primary.btn-xs.dropdown-toggle(data-toggle='dropdown', type='button')
                | Action 
                span.caret
              ul.dropdown-menu
                li
                  a(href=`/reduce/${product.item._id}`) Reduce by 1
                li
                  a(href=`/remove/${product.item._id}`) Remove All        
    .row
      .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
        strong Total: $#{session.cart.totalPrice}
    hr
    .row
      .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
        a.btn.btn-success(href='/checkout', type='button') Checkout  
  if !products
    .row
      .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
        h2 No items in cart